<div class="analysis-container">
  <form (ngSubmit)='onSelectLocation()' #f="ngForm"> 
    <div class="form-group">
      <label for="state">Select a state</label>
      <select 
        id="state" 
        class="form-control" 
        [(ngModel)]="selectState" 
        name="state"
        required>
        <option>WI</option>
        <option>AL</option>
        <option>AK</option>
        <option>AZ</option>
        <option>AR</option>
        <option>CA</option>
        <option>CO</option>
        <option>CT</option>
        <option>DE</option>
        <option>FL</option>
      </select>
    </div> 
    <div class="form-group">
        <label for="city">Select a city</label>
        <select 
          id="city" 
          class="form-control" 
          [(ngModel)]="selectCity" 
          name="city"
          required>
          <option>Madison</option>
          <option>Gainesville</option>
          <option>Orlando</option>
          <option>Tampa</option>
          <option>Maimi</option>
          <option>Talahasse</option>
          <option>Ocala</option>
          <option>West Plam Beach</option>
        </select>
      </div> 
      <div class="form-group">
          <label for="zipCode">Select zip code</label>
          <select 
            id="zipCode" 
            class="form-control" 
            [(ngModel)]="selectZipCode" 
            name="zipCode"
            required>
            <option>53703</option>
            <option>32601</option>
            <option>32602</option>
            <option>32603</option>
            <option>32604</option>
            <option>32605</option>
            <option>32606</option>
          </select>
        </div> 
        <div class="form-group">
          <label for="stars">Select number of stars </label>
          <select 
            id="stars" 
            class="form-control" 
            [(ngModel)]="selectStars" 
            name="stars"
            required>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div> 
        <div class="form-group">
          <label for="reviewCount">Select number of stars </label>
          <select 
            id="reviewCount" 
            class="form-control" 
            [(ngModel)]="selectReviewCounts" 
            name="reviewCount"
            required>
            <option>0</option>
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
          </select>
        </div> 
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>



<!-- <div class="row">
  <div class="col-md-8">
    <div class="btn-group">
      <button 
      type="button" 
      class="btn btn-primary dropdown-toggle">
      Select city <span class="caret"></span>
    </button>
    <ul class="dropdown-meanu">
      <li>
        <a href="#">FL</a>
        <a href="#">CA</a>
      </li>
    </ul>
    </div>
  </div>
</div> -->