<div class="col-md-8 col-md-offset-2">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Customer ID</label>
      <input
        type="text"
        id="id"
        class="form-control"
        formControlName="id">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password">
    </div>
    <button
      class="btn btn-primary"
      type="submit">Submit
    </button>
  </form>
</div>


<div>{{this.customer.id}}</div>