<h2>Logged Customer</h2>
<ul class="customer1">
  <li *ngFor="let customer of customer1"
    [class.selected]="customer === selectedCustomer"
    (click)="onSelect(customer)">
    <span class="badge">{{customer.id}}</span> Edit Profies
  </li>
</ul>


<!-- <div class="customers-container">
  <form (ngSubmit)='onSelectCustomer()' #f="ngForm"> 
    <div class="form-group">
      <label for="id">Select an id</label>
      <select 
        id="id" 
        class="form-control" 
        [(ngModel)]="selectID" 
        name="id"
        required>
        <option>tom1</option>
      </select>
    </div> 
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div> -->

<div class="customers-container">
  <form (ngSubmit)='onSelectCustomer()' #f = "ngForm">
      <div class="form-group">
          First Name: <input type="text" id="id" 
          class="form-control" 
          [(ngModel)]="selectID" 
          name="id">
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>


<h2>Review Lists</h2>
<ul class="review1">
  <li *ngFor="let review of review1">
    <span class="badge">{{review.time}}</span> {{review.text}}
  </li>
</ul>


<app-customer-profile [customer] = "selectedCustomer"></app-customer-profile>

