<h2>Logged Customer</h2>

<div> <label>Customer ID: </label>{{this.customer.id}} </div>
<div> <label>Customer Name: </label>{{this.customer.name}} </div>
<div> <label>E-mail: </label>{{this.customer.email}} </div>
<div> <label>Review Count: </label>{{this.customer.review_count}} </div>
<div> <label>Cool Number: </label>{{this.customer.cool}} </div>
<div> <label>Useful Number: </label>{{this.customer.useful}} </div>
<div> <label>Funny Number: </label>{{this.customer.funny}} </div>


<nav>
  <a routerLink="/profiles">Edit Profiles</a>
</nav>

<h2>Review Lists</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <button
      class="btn btn-primary"
      type="submit">Show My Reviews
    </button>
</form>

<div> <label>Review1: </label>{{this.reviews[0].TEXT}} </div>
<br/>

<read-more [text]="this.reviews[0].TEXT" [maxLength]="100"></read-more>
<!-- <div> <label>Review2: </label>{{this.reviews[1].TEXT}} </div> -->


