<h2>Logged Customer</h2>
<ul class="customer1">
  <li *ngFor="let customer of customer1"
    [class.selected]="customer === selectedCustomer"
    (click)="onSelect(customer)">
    <span class="badge">{{customer.id}}</span> Edit Profies
  </li>
</ul>


<!-- <div class="customers-container">
  <form (ngSubmit)='onSelectCustomer()' #f="ngForm"> 
    <div class="form-group">
      <label for="id">Select an id</label>
      <select 
        id="id" 
        class="form-control" 
        [(ngModel)]="selectID" 
        name="id"
        required>
        <option>tom1</option>
      </select>
    </div> 
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div> -->
<!-- 
<div class="customers-container">
  <form (ngSubmit)='onSelectCustomer()' #f = "ngForm">
      <div class="form-group">
          Customer ID: <input type="text" id="id" 
          class="form-control" 
          [(ngModel)]="selectID" 
          name="id">
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div> -->


<div> <label>Customer ID: </label>{{this.customer.id}} </div>
<div> <label>Customer Name: </label>{{this.customer.name}} </div>
<div> <label>Review Count: </label>{{this.customer.review_count}} </div>
<div> <label>Cool Number: </label>{{this.customer.cool}} </div>
<div> <label>Useful Number: </label>{{this.customer.useful}} </div>
<div> <label>Funny Number: </label>{{this.customer.funny}} </div>


<nav>
  <a routerLink="/profiles">Edit Profiles</a>
</nav>

<h2>Review Lists</h2>
<ul class="review1">
  <li *ngFor="let review of review1">
    <span class="badge">{{review.time}}</span> {{review.text}}
  </li>
</ul>


<!-- <app-customer-profile [customer] = "selectedCustomer"></app-customer-profile> -->

