<div class="container">
  <div class="card">
    <a [routerLink]="getLink()" routerLinkActive="active-link">
      <div class="row">
        <div row="col-xs-4">
          <img class="card-image" width="128" [src]="this.photo_url"/>
        </div>
        <div class="col-xs-5">
          <div class="card-header">
            {{this.business.name}}
          </div>
          <div class="card-body">
            <div>
              Stars:{{this.business.stars}}
            </div>
          </div>
        </div>
        <div class="col-xs-3">
          <div>
            {{this.business.address}},
          </div>
          <div>
            {{this.business.city}}, {{this.business.state}}, {{this.business.postal_code}}
          </div>
        </div>
      </div>
    </a>
      <div class="card-footer text-muted">
        <span>{{this.business.recent_user}}</span>
        <div class="panel-body">
          <p #textContent [id]="'review_content'+index">
            {{this.business.recent_review}}
          </p>
          <div class="read-more-link">
            <a readMore [readMore-length]="140" [readMore-element]="textContent">
              <span class="less lesscolor">Less <i class="fa fa-angle-right" aria-hidden="true"></i></span>
              <span class="more">More <i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </a>
          </div>
        </div>
      </div>
  </div>
</div>
<br>
<br>

