  <!-- <button class="btn btn-success" type="button" (click) = "getBusinessCount()" >Get Business Row</button>
  <button class="btn btn-success" type="button" (click) = "getBusinessAttributeCount()" >Get Business Attribute Row</button>
  <button class="btn btn-success" type="button" (click) = "getBusinessCatCount()" >Get Business Category Row</button>
  <button class="btn btn-success" type="button" (click) = "getBusinessCheckinCount()" >Get Business Checkin Row</button>
  <button class="btn btn-success" type="button" (click) = "getBusinessHoursCount()" >Get Business Hours Row</button>
  <button class="btn btn-success" type="button" (click) = "getTipCount()" >Get Tip Row</button>
  <button class="btn btn-success" type="button" (click) = "getPhotoCount()" >Get Photo Row</button>
  <button class="btn btn-success" type="button" (click) = "getReviewCount()" >Get Review Row</button>
  <button class="btn btn-success" type="button" (click) = "getUserCount()" >Get User Row</button> -->
  <button class="btn btn-success" type="button" (click) = "getTotalRows()" >Get Total Number of Rows</button>
  <br/>
  <div>
    Total number of rows is {{this.businessCount}}
  </div>





