<div class="btn-toolbar" mb-2 aria-label="Restaurant Filter buttons"> 
  <div class='btn-group' mb-2 mr-1>
    <button type="button" class="btn btn-danger">$</button>
    <button type="button" class="btn btn-danger">$$</button>
    <button type="button" class="btn btn-danger">$$$</button>
    <button type="button" class="btn btn-danger">$$$$</button>
  </div>
  <button type="button" class="btn btn-danger" mr-1 (click)="filterOpenNow()">Open Now</button>
  <button type="button" class="btn btn-danger" mr-1>Tips</button>
  <button type="button" class="btn btn-danger" mr-1>Distance in 5 miles</button>
  <div class="btn-group" mb-2 >
    <button type="button" class="btn btn-danger">Mexican Food</button>
    <button type="button" class="btn btn-danger">Chinese Food</button>
    <button type="button" class="btn btn-danger">American Food</button>
  </div>
</div>
